# Бинарники
bin/

# Swagger (генерируется через make swagger)
docs/

# Переменные окружения
.env

# IDE
.idea/
.vscode/
*.iml

# Операционные системы
.DS_Store
Thumbs.db

# Тестовые артефакты
*.test
*.out